
.custom-menu .cl-secure-logo {
    display: none !important;
  }
  /* Navbar.css */

.navbar {
  z-index: 1300; /* Ensure it is above other content */
}

.navbar-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

/* Add padding to the top of the body to prevent content from being hidden behind the navbar */
body {
  padding-top: 64px; /* Adjust this value based on your navbar height */
}